$sizes: (2, 12, 14, 16, 18, 20, 22, 24, 32, 36, 38, 48, 52, 68);

@each $size in $sizes {
	.fs-#{$size} {
		font-size: #{($size/16)}rem;
	}
	.fs-md-#{$size} {
		@media screen and (min-width: 768px) {
			font-size: #{($size/16)}rem !important;
		}
	}
	.fs-lg-#{$size} {
		@media screen and (min-width: 1200px) {
			font-size: #{($size/16)}rem !important;
		}
	}
}
