.header {
	&_nav {
		background-color: $principal;
		height: 10vh;
	}
	&_content {
		&-time {
			text-transform: uppercase;
			font-size: 1.2rem;
		}
		&-image {
			@media screen and (max-width: $desktop) {
				width: 100%;
			}
		}
	}
}

.demo {
	background-color: $color-white;
	margin-left: 8rem;
	margin-right: 8rem;
	padding: 4rem 2rem;

	@media screen and (max-width: 1200px) {
		margin-top: 1rem;
		margin-left: 0;
		margin-right: 0;
	}
	@media screen and (max-width: $desktop) {
		margin-top: -5rem;
	}

	&_text {
		&-icon {
			width: 3rem;
			height: 3rem;
			@media screen and (max-width: $desktop) {
				align-self: center;
				width: 2.5rem;
				height: 2.5rem;
				margin-bottom: 1rem;
			}
		}
		&-info {
			margin-left: 2rem;
		}
	}
	&_vid {
		transform: translateX(3rem);
		width: 25rem;
		height: 15rem;

		@media screen and (max-width: 1200px) {
			width: 20rem;
			height: 15rem;
		}

		@media screen and (max-width: $desktop) {
			align-self: center;
			transform: translateX(0);
			width: 15rem;
			height: 10rem;
		}
	}
}

.gallery {
	padding: 2rem;
	margin-top: -3rem;
	&_item {
		&-pic {
			border-radius: 1rem;
			@media screen and (max-width: $desktop) {
				margin-bottom: 1rem;
			}
			//margin: 0;
		}
	}
}

.ventajas {
	padding: 5rem;
	margin-top: -1rem;
	@media screen and (max-width: $desktop) {
		padding: 1rem;
	}
	&_description {
		margin-top: 2rem;
		padding: 2rem;
		background-color: $color-white;

		&-item {
			margin-bottom: 2rem;
			font-size: 25rem;
		}
	}

	&_img {
		&-item {
			width: 100%;
			@media screen and (max-width: $desktop) {
				margin-top: -5rem;
			}
		}
	}
}

.techInfo {
	background-color: $color-white;
	margin-left: 4rem;
	margin-right: 4rem;
	@media screen and (max-width: $desktop) {
		margin: 0 auto;
	}
	&_img {
		@media screen and (max-width: $desktop) {
			display: none;
		}
	}
	&_content {
		padding: 2rem;
		text-align: center;
		&-specs {
			margin-top: 2rem;
			text-align: left;
		}
	}
}

.comments {
	margin: 5rem;
	&_card {
		margin-top: 5rem;
		margin-right: 2rem;
		&:last-child {
			margin-right: -4rem;
		}
		background-color: $color-white;
		&-person {
			.info {
				text-align: center;
				.name {
					font-weight: 700;
					margin: 0;
					color: $primary;
				}
				.age {
					margin-top: -0.1rem;
					font-weight: 300;
				}
			}
		}
		&-image {
			margin-top: -3rem;
			border-radius: 50%;
			@media screen and (max-width: $desktop) {
				margin-top: -1.5rem;
				width: 35%;
			}
		}

		&-comment {
			align-self: center;
		}
	}
}

.footer {
	margin-top: 5rem;
	background: $principal;

	&-social {
		border-right: 1px solid white;
		@media screen and (max-width: $desktop) {
			border: 0;
		}
	}
	&-developed {
		width: 2.5rem;
	}
	ul {
		list-style: none;
	}
}
